body {
    margin: 0;
    font-family: Arial, sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    margin-top: -7px;
    margin-left: -22px;
    margin-right: 17px;
}

a {
    margin: 7px;
    color: black;
    text-decoration: none;
    font-size: 13px;
    opacity: .6;
    text-decoration-style: solid;
}
a:hover {
    text-decoration: underline;
}
#signin {
    background-color: rgb(66, 133, 244);
    color: white;
    font-weight: bolder;
    text-align: center;
    padding-block: 7px;
    padding-inline: 12px;
    opacity: 1;
    border-radius: 3px;
}
#signin:hover {
    cursor: default;
    text-decoration: none;
}
#signin:active {
    background-color: rgb(50, 121, 236);
}
#apps:hover {
    opacity: 2;
}
.header-nav {
   display: flex; 
   align-items: center;
}
/* The start of the middle section */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 9%;
}
.search-container {
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
    height: 43px;
    width: 520px;
    border: 1px solid #dfe1e5;
    border-radius: 28px;
    margin-top: -1px;
}
.search-container:hover {
    box-shadow: 0px 2px 1px 0px rgba(212, 209, 209, 0.801);
    border-color: honeydew;
}
input {
    flex-grow: 1;
    border: none;
    font-size: 16px;
}
input:focus {
    outline: none;
}
#magnify {
    display: flex;
    height: 20px;
    padding-top: 12px;
    padding-left: 13px;
    opacity: .38;
    padding-right: 5px;
}
#mic-img {
    padding-top: 3px;
    padding-right: 5px;
}
.button-container {
    display: flex;
    margin-top: 30px;
    flex-grow: 500px;
}